/************************************************
 * Authors: Christopher O'Marra, Erik Kostashuk,
 *					Harsh Yadav, Brenden Demetorff
 * Date: 2017-09-07
 * Filename: webd3201.css
 * Purpose: This css file provides the design and
 *					layout for the webd3201 project.
 *
*************************************************/

body{ /*main background colour */
	background-color: #FFF;
	font-family: Arial, Verdana, Helvetica, sans-serif;
}

p{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 16px;
	margin: 20px;
	padding: 20px;
}
h1, h2, h3{
	color: #FF69B4;
	font-family: Arial, Verdana, Helvetica, sans-serif;
}

hr{
	border-color: #000000;
}
#container
{
	margin: 0 auto;
	width: auto;
	background: #FFB6C1;
}

#header /* header colour */
{
	background: #FFF;
	padding: 20px;
	border: 1px solid black;
}

#header h1
 {
			margin: 0;
			display: inline;
}
#header img
 {
			vertical-align: middle;
			width: 100px;
}

#hnavbar{

  width: auto;
  height: 40px;
  margin: 15px;
  background: #FFF;
  border: 1px solid black;
  text-align: center;
}

#hnavbar ul {
    margin: 0;
    padding: 0;
}

#hnavbar ul li{
  list-style-type: none;
  display: inline-block;
}

/* This sets the display, color, alignment, float and padding of the nav bar buttons */

#hnavbar li a {
    border-radius: 10px;
    float: left;
    padding: 10px;
    margin: 0;
    color: #000;
    border: 1px solid #000;
    text-decoration: none;
    -moz-box-shadow: 3px 3px 4px #000;
   -webkit-box-shadow: 3px 3px 4px #000;
   box-shadow: 3px 3px 4px #000;
}

/* Horizontal nav bars colour when hovered over */

#hnavbar li a:hover {
    background-color: #555;
    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: box-shadow 1000ms linear;
    -ms-transition: box-shadow 1000ms linear;
    transition: box-shadow 1000ms linear;
}

#content-container /* main container background colour */
{
	float: left;
	width: 100%;
	background-color: #FFF;
	border: 1px solid black;
	text-align: center;
	min-height: 500px;

}
#content-container h2{
	padding: 10px;
	text-align: center;
}



#footer /* footer main background colour */
{
	clear: both;
	background: #FFB6C1;
	text-align: right;
	padding: 20px;
	height: 1%;
	border: 1px solid black;
}


#footer img /* footer image alignment */
{
	vertical-align: middle;
}
